:root {
    // --primary-color-text-header: rgba(26,26,26); 
    --primary-color-text: rgb(90, 90, 90); 
    --light-color-text: rgb(160, 160, 160); 
    --dark-color-text: rgb(0, 0, 0); 
    --fontsize-big-default: 25px;

    --fontsize-default: 20px;
    --fontsize-text-video: 14px;

    --fontsize-medium: 15px;
    --fontsize-small-default: 13px;
    --fontsize-light-small-default: 11px;
    font-family: Roboto,Arial,sans-serif;

    --margin-slider: 50px;

    --background-product:#f4f4f4;

    --background-show-comp:white;

    // --background-show-comp:rgb(194, 255, 253);

    // --background-header-show-comp:rgb(135, 255, 251);

    // --background-footer-show-comp:rgb(27, 255, 247);

    --btn-color1: white;
    --btn-color2: rgb(0, 184, 187);

    }



.slider-elem
{
    margin-bottom: 40px;
}

a
{
    color:var(--primary-color-text);
    font-size: var(--fontsize-small-default);
    outline: none;
    text-decoration: none;
    // text-align: left;
}

button
{
    background-color:#ffffff00;
    border: none;
    font-size: var(--fontsize-medium);
    font-weight:100;
    cursor: pointer;
}   

.center
{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

img
{
    width: auto;
}

.icon 
{
    &-btn 
    {
        width: auto;
        height: 15px;
    }

    &-in-text
    {
        height: 10px;
    }

    &-in-text2
    {
        height: 13px;
    }
    &-in-text3
    {
        height: 7px;
        padding-top: -4px;
    }

    &-large 
    {
        height: 18px;
    }
}    

#last-text-head
{
    margin-right: 0px;
    padding-right: 0px;
}

.name-info
{
    font-weight: bold;
    font-size: var(--fontsize-small-default);
    margin-bottom: 15px;
}

.light-text
{
    color:var(--light-color-text);
    font-size: var(--fontsize-light-small-default);
}

.btn
{
    &-1
    {
        color:var(--btn-color1);
        background-color: var(--btn-color2);
        font-size: var(--fontsize-medium);

        // width: 220px;
        height: 55px;
        border-radius: 3px;
        // margin-right: 35px;
    }

    &-2
    {
        color:var(--dark-color-text);
        background-color: var(--btn-color1);
        font-size: var(--fontsize-medium);

        // width: 220px;
        height: 55px;
        border-radius: 3px;
        // margin-right: 35px;
    }
}

.h50p
{
    height: 50%;
}