:root {
    // --primary-color-text-header: rgba(26,26,26); 
    --primary-color-text: rgb(90, 90, 90); 
    --light-color-text: rgb(160, 160, 160); 
    --fontsize-small-default: 13px;
    --fontsize-light-small-default: 11px;
    font-family: Roboto,Arial,sans-serif;
    }

.default 
{
  border: 1px solid #b9e39e;
  /* padding: 100px; */
  /* position: relative; */

  /* position: absolute; */
//   height: 100%;
  /* width: 99%; */

  height: 1000px;
  background-color: #3df5ff46;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
  /* top: 11%; */
}

.center
{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ic
    {
        width: auto;
        height: 15px;
    }


#last-text-head
{
    margin-right: 0px;
    padding-right: 0px;
}

.name-info
{
    font-weight: bold;
    font-size: var(--fontsize-small-default);
    margin-bottom: 15px;
}

.light-text
{
    color:var(--light-color-text);
    font-size: var(--fontsize-light-small-default);
}