:root {
    // --primary-color-text-header: rgba(26,26,26); 
    --primary-color-text: rgb(90, 90, 90); 
    --light-color-text: rgb(160, 160, 160); 
    --dark-color-text: rgb(0, 0, 0); 
    --fontsize-big-default: 25px;

    --fontsize-default: 20px;
    --fontsize-text-video: 14px;
    --fontsize-small-default: 13px;
    --fontsize-light-small-default: 11px;
    font-family: Roboto,Arial,sans-serif;

    --margin-slider: 50px;

    --background-product:#f4f4f4;


    --color1-btn-play: white;
    --color2-btn-play: green;

    }



.slider-elem
{
    margin-bottom: 40px;
}

a
{
    color:var(--primary-color-text);
    font-size: var(--fontsize-small-default);
    outline: none;
    text-decoration: none;
    // text-align: left;
}

.default 
{
//   border: 1px solid #b9e39e;
  /* padding: 100px; */
  /* position: relative; */

  /* position: absolute; */
//   height: 100%;
  /* width: 99%; */

//   height: 3000px;
//   background-color: #3df5ff46;
  display: flex;
  flex-direction: column;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
  position: relative;
  /* top: 11%; */
}

.center
{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ic
    {
        width: auto;
        height: 15px;
    }

.icon-in-text
{
    width: auto;
    height: 10px;
}

.icon-in-text2
{
    width: auto;
    height: 13px;
}


#last-text-head
{
    margin-right: 0px;
    padding-right: 0px;
}

.name-info
{
    font-weight: bold;
    font-size: var(--fontsize-small-default);
    margin-bottom: 15px;
}

.light-text
{
    color:var(--light-color-text);
    font-size: var(--fontsize-light-small-default);
}